@import url('variables.css');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* NAVBAR */
.navbar {
    background-color: var(--color-primario);
}

.vineria-logo {
    width: 100px;
    margin-left: 30px;
}

.form-inline {
    margin-right: 30px;
}

.btn-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: #0e0e0e;
    font-size: large;
    transition: font-size 0.3s ease;
}

.nav-link:hover {
    color: #6bc5e9;
    font-size: 22px;
}

/* TABLAS */
.table{
    margin: 0 auto;
    text-align: center;
}

.table td {
    vertical-align: middle;
}

/* PRODUCTOS */
.flex-container {
    display: flex;
    justify-content: center;
}

.container-productos {
    max-height: 600px;
    width: 90%;
    overflow-y: auto;
}

/* CAROUSEL */

.owl-carousel{
    padding-top: 10px;
    padding-bottom: 10px;
}

.owl-carousel .item {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 200px; 
}

.owl-carousel .item img {
    max-width: 40%;
    max-height: 40%;
    display: block;
}

    /* CONTENEDOR DE CONTACTO */
    #contenedor-contacto {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--color-primario);
    }

    #contacto,
    #google-map {
        width: calc(40% - 10px);       
        padding: 10px;
    }

    #contacto {
        height: 450px;
    }

    #google-map iframe {
        width: 100%;
        height: 450px;
    }

    /* FORMULARIO */

    #contacto {
        padding-bottom: 60PX;
    }

    /* BOTON FLOTANTE WHATSAPP */

    .wpp-float {
        position: fixed;
        width: 50px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 100;
    }

    .wpp-float img {
        width: 100%;
        height: auto;
    }

    /* FOOTER */
    footer {
        background-color: #f8f9fa;
        padding: 20px;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
